@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.author-img {
  border-radius: 50%;
  border: 1px solid cyan;
}

.author-text p {
  margin: 0.2em 0.8em;
}

.author-text > p {
  font-weight: bold;
}

.author-text > p ~ p {
  font-weight: normal;
}

.content {
  padding-bottom: 3rem;
}

.content p {
  font-size: 16px;
}

.content a {
  color: rgb(0, 200, 200);
}

.content a:hover {
  color: rgb(0, 170, 170);
}

.content li {
  font-size: 16px;
}

.row-plot {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.source {
  display: inline-block;
  margin-top: 1.5rem;
  font-style: italic;
}

.source a {
  color: rgb(0, 200, 200);
}

.source a:hover {
  color: rgb(0, 170, 170);
}